<h3>Edit pet</h3>

<form>
    <div class="form-group">
        <input type="hidden" name="id" [value]="id">
        <label>First name</label>
        <input [value]="firstName" [(ngModel)]="firstName" name="firstName" type="text" class="form-control"
            placeholder="First name" required>
    </div>
    <div class="form-group">
        <label>Last name</label>
        <input [value]="lastName" [(ngModel)]="lastName" name="lastName" type="text" class="form-control"
            placeholder="Last name" required>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input [value]="email" [(ngModel)]="email" name="email" type="text" class="form-control" placeholder="email"
            required>
    </div>
    <div class="form-group">
        <label>Car make</label>
        <input [value]="carMake" [(ngModel)]="carMake" name="carMake" type="text" class="form-control"
            placeholder="Car make" required>
    </div>
    <div class="form-group">
        <label>Car model</label>
        <input [value]="carModel" [(ngModel)]="carModel" name="carModel" type="text" class="form-control"
            placeholder="Car model" required>
    </div>
    <div class="form-group">
        <label>Vin</label>
        <input [value]="vin" [(ngModel)]="vin" name="vin" type="text" class="form-control" placeholder="Vin" required>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit" (click)="updateCar()">Update</button>
        <a class="btn btn-success" routerLink="/cars">Back to Cars List</a>
    </div>
</form>