<h3>Edit Pet</h3>
<form [formGroup]="petEditForm" (submit)="update(petId)">
    <div class="form-group">
        <label>Pet Name</label>
        <input formControlName="name" [value]="name" type="text" class="form-control" placeholder="name" required>
    </div>
    <div class="form-group">
        <label>Age(Months)</label>
        <input formControlName="age" [value]="age" type="number" class="form-control" placeholder="age" required>
    </div>
    <div class="form-group">
        <label>Weight(Kg)</label>
        <input formControlName="weight" [value]="weight" type="number" class="form-control" placeholder="weight" required>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Update</button>
        <a class="btn btn-success" routerLink="/pets">Back to pets</a>
    </div>
</form>