<main>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Pet Clinic</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a routerLinkActive="active" class="nav-link" routerLink="/pets">Pets</a>
                    </li>
                    <li class="nav-item">
                        <a routerLinkActive="active" class="nav-link" routerLink="/owners">Owners</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</main>